@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap");

body {
  box-sizing: border-box;
  background: #ecf0f3;
  font-family: "Mulish", sans-serif;
  color: #2b2c2c;
}

h1 {
  margin-bottom: 100px;
}

input {
  font-family: "Mulish", sans-serif;
  height: 25px;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #ecf0f3;
  color: #2b2c2c;
  box-shadow: inset 10px 10px 16px #dee2e4, inset -10px -10px 16px #fafeff;
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Mulish", sans-serif;
  height: 50px;
  border: none;
  outline: none;
  width: 180px;
  border-radius: 50px;
  background: #ecf0f3;
  border-radius: 50px;
  text-align: center;
  box-shadow: 10px 10px 16px #dee2e4, -10px -10px 16px #fafeff;
  cursor: pointer;
}

button:active {
  border-radius: 50px;
  background: linear-gradient(145deg, #d4d8db, #fdffff);
  box-shadow: 10px 10px 19px #d2d6d8, -10px -10px 19px #ffffff;
  transition: all 3s ease;
}

.chartainer {
  max-width: 800px;
  margin: auto;
}

.length {
  font-size: 50px;
}

.App {
  margin-top: 50px;
  text-align: center;
}
