@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap");

body {
  box-sizing: border-box;
  background: #ecf0f3;
  font-family: "Mulish", sans-serif;
  color: #abaeaf;
}

input {
  font-family: "Mulish", sans-serif;
  height: 25px;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #ecf0f3;
  color: #abaeaf;
  box-shadow: inset 10px 10px 16px #dee2e4, inset -10px -10px 16px #fafeff;
}

.length {
  font-size: 50px;
}

.App {
  margin-top: 50px;
  text-align: center;
}
